---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="DSC 106 Data Visualization">
  <section>
    <h1>DSC 106: Data Visualization</h1>
    <p><strong>Currently under construction</strong></p>
    <h2>Resources</h2>
    <ul>
      <li>
        <a href="https://github.com/g7xu/Data_vis_LSUS">
          Static visualization
        </a>
      </li>
    </ul>
  </section>
</BaseLayout>
