---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Beyond Tech">
  <section>
    <h1>Beyond Tech</h1>
    <p>
      For me, life is like a project—an estimated 77.5-year-long project,
      which translates to 28,287 days. In addition to social status and money,
      I also hope that my life has a sense of richness and texture—this comes
      from my attitude toward and love for life. This page is where I share
      aspects of my personal life.
    </p>
    <p>Welcome to Beyond Tech! Explore the following sections:</p>
    <ul>
      <li><a href="/Beyond-Tech/Random-Thoughts/">Random Thoughts</a></li>
      <li><a href="/Beyond-Tech/Coffee-Shops/">Coffee Shops</a></li>
      <li><a href="/Beyond-Tech/Cooking/">Cooking</a></li>
      <li><a href="/Beyond-Tech/Traveling/">Traveling</a></li>
    </ul>
    <h2>Study &amp; Grind Lifeline</h2>
    <hr />
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/0JDgZWY1t3XCNE1J6Mnclg?utm_source=generator&amp;theme=0"
      width="100%"
      height="152"
      frameborder="0"
      allowfullscreen
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
    <h2>Favourite Chinese Poem</h2>
    <hr />
    <div style="text-align: center;">
      <strong>《不第后赋菊》</strong><br />
      <em>Author: 黄巢</em><br /><br />
      待到秋来九月八，我花开后百花杀。<br />
      冲天香阵透长安，满城尽带黄金甲。
    </div>
  </section>
</BaseLayout>
