---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Random Thoughts">
  <section>
    <h1>Random Thoughts</h1>
    <p>Place to share my thoughts on life:</p>
    <ul>
      <li>
        Upcoming: what should we do when we feel hopeless on our career?
      </li>
    </ul>
  </section>
</BaseLayout>
